nav {
    background: #222222;
    padding: 8px;
    margin: -8px;
    display: flex;
    justify-content: center;
}

nav a {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    transition: background-color .5s;
}

nav a:active{
    color: rgb(34, 34, 34);
}

nav a:hover {
    background-color: rgb(77, 77, 77);
    border-radius: 15px;
    transition: background-color .5s;
}

.lr2 {
    background-color: rgb(60, 60, 60);
    border-radius: 15px;
}

main {
    padding-left: 40px;
    padding-right: 40px;
}

body {
    background: rgb(255, 244, 227);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;;
    font-size: 18px;
}

header h2{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

hr {
    margin-bottom: 0;
}
